@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Noto+Sans:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

/*---------------------
共通設定
----------------------*/

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 600;
}

img {
    width: 100%;
    height: auto;
}

/*---------------------
ヘッダー設定
----------------------*/

.bg_area {
    background-color: #5CE1E6;
    width: 100%;
    height: 811px;
}

.hero_area {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

.hero_area_wrap {
    visibility: hidden;
    opacity: 0;
    transition: 0.4s;
    transform: translateX(-20px);
    z-index: 100;
    position: absolute;
    top: 117px;
    left: 115px;
}

.hero_area_wrap.active {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.hero_area_title_e {
    font-size: 70px;
    color: #fff;
    line-height: 1.5;
    letter-spacing: 0.15em;
    display: block;
    z-index: 1000;
}

.hero_area_title_j {
    font-size: 34px;
    color: #fff;
    line-height: 1.75;
    letter-spacing: 0.15em;
    display: block;
    z-index: 1000;
    margin-top: 135px;
}

.hero_img {
    width: 851px;
    position: absolute;
    right: 0;
    bottom: 0;  
}

.hero_img img {
    vertical-align: bottom;
}

.top_pin {
    width: 60px;
    position: absolute;
    animation: pin_animation 0.5s ease forwards;
    opacity: 0;
    visibility: hidden;
}

.top_pin:nth-child(1) {
    top: 140px;
    right: 330px;
}
.top_pin:nth-child(2) {
    top: 240px;
    right: 110px;
    animation-delay: 0.03s;
}
.top_pin:nth-child(3) {
    top: 280px;
    right: 200px;
    animation-delay: 0.03s;
}
.top_pin:nth-child(4) {
    top: 410px;
    right: 310px;
    animation-delay: 0.09s;
}
.top_pin:nth-child(5) {
    top: 452px;
    right: 240px;
    animation-delay: 0.12s;
}
.top_pin:nth-child(6) {
    top: 458px;
    right: 550px;
    animation-delay: 0.15s;
}
.top_pin:nth-child(7) {
    top: 572px;
    right: 70px;
    animation-delay: 0.18s;
}
.top_pin:nth-child(8) {
    top: 328px;
    right: 520px;
    animation-delay: 0.21s;
}
.top_pin:nth-child(9) {
    top: 612px;
    right: 310px;
    animation-delay: .24s;
}
.top_pin:nth-child(10) {
    top: 692px;
    right: 690px;
    animation-delay: 0.27s;
}

@keyframes pin_animation {
    0% {  
        transform: translateY(-40px);
        visibility: hidden;
        opacity: 0;
    }
    50% {
        transform: translateY(-20px);
        visibility: hidden;
        opacity: 0;
    }
    100% {  
        transform: translateY(0);
        visibility: visible;
        opacity: 1;
    }
}
.top_pin:nth-child(11) {
    top: 562px;
    left: 40px;
    animation-delay: 1s;
}
.hero_area::before{
    content:"";
    display:block;
    width:80px;
    height:3px;
    background-color:#fff;
    position:absolute;
    top:489px;
    left:124px;
 }



/*---------------------
メイン設定
----------------------*/

.section {
    padding: 95px 0;
}

.desc {
    width: 55%;
    color: #5CE1E6;
    letter-spacing: 0.15em;
    margin: 0 auto;
    position: relative;
    visibility: hidden;
}

/* 230518 佐藤追加　ここから↓ */
/* セクション　フェードインアニメーション */
.fadeInUp {
    -webkit-animation-fill-mode:both;
    -ms-animation-fill-mode:both;
    animation-fill-mode:both;
    -webkit-animation-duration:1s;
    -ms-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    visibility: visible !important;
   }
   @-webkit-keyframes fadeInUp {
    0% { opacity: 0; -webkit-transform: translateY(20px); }
    100% { opacity: 1; -webkit-transform: translateY(0); }
   }
   @keyframes fadeInUp {
    0% { opacity: 0; -webkit-transform: translateY(20px); -ms-transform: translateY(20px); transform: translateY(20px); }
    100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
   }
/* 230518 佐藤追加　ここまで↑ */

.desc h2 {
    font-size: 24px;
    line-height: 42px;
    margin-bottom: 30px;
}
.desc p {
    font-size: 16px;
    line-height: 28px;
}

/*磯村ポヨン アニメーション*/
.img_toilet {
    width:125px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 550px;
    transform: translateY(-50%);
    animation: poyooon 1.5s  linear 0s infinite  ;
}
@keyframes poyooon {
    0%   { transform:  translate(0%, -50%); }
    25%  { transform:  translate(0%, -30%); }

    45%  { transform:  translate(0%, -35%); }
    75%  { transform:  translate(0%, -50%); }
    85%  { transform:  translate(0%, -55%); }

    100% { transform:  translate(0%, -50%); }
}

/*----koga 波　追加----*/
#sea_animation {
    display:flex;
    align-items: flex-end;
    width: 55%;
    margin: 40px auto 0;
}
/*------koga end----*/

/* 検索エリア */

.adjust {
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
}

.sec02 {
    background-color: #FAF9F4;
    padding: 93px;
    position: relative;
}

.title {
    font-size: 40px;
    letter-spacing: 0.15em;
    color: #5CE1E6;
}

.title:not(:first-of-type) {
    margin-top: 200px;
}

.sec02 .title {
    text-align: center;
}

.form_container {
    position: relative;
}

.form_tab {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 60px;
}

.form_tab_item {
    width: calc((100% - 90px) / 2);
    text-align: center;
    padding: 20px 0;
    background-color: #E3EDED;
    border-radius: 10px 10px 0 0;
}

.form_tab_item.active {
    padding: 30px 0;
    background-color: #5CE1E6;
}

.sub_title {
    font-size: 20px;
    color: #5CE1E6;
}

.form_tab_item.active .sub_title {
    font-size: 24px;
    color: #fff;
}

.map_container {
    background-color: #fff;
    padding: 43px 0;
    position: relative;
}

.map_container .img {
    width: 680px;
    margin: 0 auto;
}

img {
    width: 100%;
    height: auto;
}

.map_container input[type=checkbox] {
    display: none;
}

.map_container label {
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}  

.area_1 {
    position: absolute;
    top: 42px;
    right: calc(((100% - 680px) / 2) + 394px);
}

.area_2 {
    position: absolute;
    top: 216px;
    right: calc(((100% - 680px) / 2) + 567px);
}

.area_3 {
    position: absolute;
    bottom: 245px;
    right: calc(((100% - 680px) / 2) + 680px);
}

.area_1 label {
    width: 394px;
    height: 210px;
    background-image: url(../images/area_1.png);
}

.area_2 label {
    width: 567px;
    height: 209px;
    background-image: url(../images/area_2.png);
}

.area_3 label {
    width: 680px;
    height: 197px;
    background-image: url(../images/area_3.png);
}

.area_1 input:checked + label {
    background-image: url(../images/area_1_yellow.png);
}

.area_2 input:checked + label {
    background-image: url(../images/area_2_pink.png);
}

.area_3 input:checked + label {
    background-image: url(../images/area_3_purple.png);
}

.more_serch_container {
    padding: 50px 0;
    background-color: #5CE1E6;
}

.more_serch_wrap {
    width: 70%;
    margin: 0 auto;
}

.more_serch_container .sub_title {
    color: #fff;
}

.more_serch_item {
    margin-top: 35px;
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0.35);
    font-size: 16px;
}

.more_serch_item + .more_serch_item {
    margin-top: 15px;
}

.more_serch_item label {
    display: inline-blockz;
    background-color: #fff;
    text-align: center;
    color: #5CE1E6;
    height: 100%;
    padding: 22px 33px;
}

.more_serch_item .check_wrap {
    display: inline-block;
    padding: 22px 33px;
    color: #fff;
} 

.more_serch_item .check_wrap .input_wrap {
    position: relative;
    display: inline-block;
}

.more_serch_item .check_wrap .input_wrap + .input_wrap {
    margin-left: 40px;
}

.more_serch_item .check_wrap input[type=checkbox] {
    margin-right: 5px;
    opacity: 0;
    position: absolute;
    top: 5px;
    left: -18px;
    z-index: 50;
}

.more_serch_item .check_wrap input[type=checkbox] + span {
    display: inline-block;
    position: relative;
}

.more_serch_item .check_wrap input[type=checkbox] + span:not(:last-of-type) {
    margin-right: 26px;
}

.more_serch_item .check_wrap input[type=checkbox] + span::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: -18px;
    transform: translateY(-50%);
}

.more_serch_item .check_wrap input[type=checkbox] + span::after {
    content: "";
    display: inline-block;
    z-index: 1;
    margin: 5px 8px;
    width: 6px;
    height: 9px;
    position: absolute;
    top: 24%;
    left: -22px;
    transform: translateY(-50%);
}

.more_serch_item .check_wrap input[type=checkbox]:checked + span::before {
    background-color: #0067C0;
}

.more_serch_item .check_wrap input[type=checkbox] + span::after {
    content: "";
    border: 2px solid #fff;
    border-width: 0 2px 2px 0;
    transform: translateY(-50%) rotate(45deg);
}


.more_serch_wrap .btn {
    margin-top: 30px;
}

.btn {
    width: 332px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    background-color: #0067C0;
    color: #fff;
    border: none;
    border-radius: 50px;
    margin: 0 auto;
    font-size: 20px;
    display: block;
    font-weight: bold;
    cursor: pointer;
}
/* 佐藤追加　ここから↓ */
/* ロゴ説明 */
.adjust {
    position: relative;
}

.logo_desc {
    width: 300px;
    height: 100px;
    flex-wrap: wrap;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
}

.logo_desc li {
    width: 150px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}

.logo_desc li span {
    font-weight: 400px;
    font-size: 16px;
    top: -12px;
    color: #545454;
}

.logo_desc li img {
    width: 40px;
    height: 40px;
    max-width: 100%;
}

/* 佐藤追加　ここまで↑ */

/* カード */

.card_title{
    text-align: center;
    max-height: 4em;
    width: 100%;
    color: #545454;
    font-size: 1.4em;
    margin: 5px 3px 0;
  }
  
  .infoall {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 40px;
    margin-top: 50px;
  }
  
  .info {
    width: calc((100% - 36px) / 3);
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-flow:column;
    justify-content: space-between;
  }
  .info_top,
  .info_bottom {
    width: 100%;
  }
  .info:not(:nth-of-type(3n)) {
    margin-right: 18px;
  }
  
  
  .info{
    border: 1px solid #c3c3c3;
    padding: 10px;
  }
  
  dl {
    width: 96%;
      display: flex;
      flex-wrap: wrap;
      margin: 15px auto 0;
      max-height: 10em;
      color: #545454;
  }
      
  dt {
    width: 30%;
    font-weight: 400;
  }
      
  dd {
      width: 67%;
      font-weight: 400;
  }
  dt:nth-last-of-type(n+2) ,
  dd:nth-last-of-type(n+2) {
    padding-top: 5px;
  }
  /*追加 koga 0517*/
  .add_max_height {
    max-height: 4em;
  }
  /*追加 end koga*/
  
  .logo  {
    width: 95%;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin: 15px auto 0;
  }
  /* 変更した箇所1start：磯村*/
  .color-btn{
    font-size: 13px;
    border-radius: 5px;
    color: #545454;
    padding: 7px 11px;
    display: inline-block;
  }

  .color-btn.a100{
    background-color: #FFE068;
   
  }
  .color-btn.a101{
    background-color: #FABBA7;
  }
  .color-btn.a102{
    background-color: #DACCF6;
  }
/* 変更した箇所1end：磯村*/
  .logo-blue {
    width: 20%;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    padding: 0;
  }
  
  .logo-blue li {
    margin-right: 10px;
  }
  
  .logo-white{
    width: 20%;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    padding: 0;
  }
  
  .logo-white li {
    margin-right: 10px;
  }
  
  .icon_wrap {
    display: flex;
  }
  
  .icon_item {
    position: relative;
    width: 24px;
    height: 24px;
  }
  
  .icon_item + .icon_item {
    margin-left: 5px;
  }
  
  .icon_white {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
  
  .icon_blue {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  /*** icon切り替え***/

  .icon_blue.active1 {
      z-index: 3;
  }

  .map-area {
    margin-top: 10px;
  }



/*---------------------
フッター設定
----------------------*/

footer {
    background-color: #5CE1E6;
    width: 100%;
    height: 200px;
    color: #fff;
    position: relative;
}

.footer_logo {
    width: 1000px;
    margin: auto;
    font-size: 14px;
    line-height: 0px;
    font-weight: 400;
    letter-spacing: 0.15em;
}

.footer_logo span {
    display: block;
    font-weight: bold;
    padding: 35px 0 15px 0;
    font-size: 20px;
    line-height: 60px;
}

.copyright {
    font-weight: 400;
    position: absolute;
    right: 139px;
    bottom: 30px;
}

/*** 再検索マーク ***/

.re_search {
    background: #1C76C4;
    position: fixed;
    right: 70px;
    bottom: 50px;
    width: 137px;
    height: 137px;
    border-radius: 50%;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s cubic-bezier(.63,.03,1,.48);
}

.re_search.active {
    visibility: visible;
    opacity: 1;
}

.re_search a {
    display: inline-block;
    color: #fff;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    position: relative;
    right: -28px;
    bottom: -27px;
    text-decoration: none;
}

.arrow_img {
    position: relative;
    right: -30px;
    top: -3px;
    width: 20px;
    height: 20px;
    background-color: #1C76C4;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    transform:rotate(-45deg);
}

.form_error {
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
    color: #FF9271;
    font-size: 14px;
}

